amrlib==0.7.1
dgl==0.9.1
dgl_cu111==0.6.1
geoopt==0.1.1
Keras_Preprocessing==1.1.2
matplotlib==3.1.2
networkx
nltk==3.7
numpy==1.20.0
pandas
Penman==1.2.1
ratelimit==2.2.1
requests==2.22.0
scikit_learn
scipy
tensorboardX==2.5.1
tensorflow==2.10.0

torch==1.11.0
torch_geometric==2.0.4
torch_scatter==2.0.9
tqdm==4.64.0
transformers
